 body {
     font-family: 'YS Text',Arial,Helvetica,sans-serif;
     /*letter-spacing: 0.25px;*/
     max-width: 1300px;
     border-image-slice: 1;
     margin: 0 auto;
     width: 100%;
}
form {
     padding-top: 20px;
}
.CodeMirror {
        font-family: Monaco, Consolas, Courier New, monospace;
        font-size: 13px;
        height: 600px !important;
}
 .header {
     font-size: 25px;
     display: block;
     width: 100%;
     border-bottom: solid 1px #E5E5E5;
     /*letter-spacing: 0.25px;*/
     line-height: 60px;
     text-align: center;
     font-weight: 700;
}
 .container {
     width: 60%;
     float: right;
     overflow: hidden;
     border-left: 1px solid #E5E5E5;
     padding-left: 30px;
}
 .form {
     float: left;
     width: 35%;
     position: relative;
     padding-bottom: 10em;
}
 .desc {
     font-size: 17px;
     color: #9E9E9E;
}
 input {
     width: 105px;
     margin: 4px 0px 4px 0px;
     /*border-radius: 5px;*/
     border: 1px solid #ccc;
     font-size: 15px;
     padding: 5px;
     height: 19px;
}
input:focus {
     border: 1px solid #ffdb4d;
     box-shadow: inset 0 0 0 1px #ffdb4d;
}



select {
    border-radius: 5px;
     border: 1px solid #E5E5E5;
     font-size: 15px;
     padding: 5px;
     min-width: 8em;
}

button {
     font-family: 'YS Text',Arial,Helvetica,sans-serif;
     font-feature-settings: 'liga','kern';
     box-sizing: border-box;
     font-size: 16px;
     display: inline-block;
     width: 105px;
     padding: 5px;
     box-shadow: none;
     border-radius: 0;
     border: 2px solid #dddddd;
     cursor: pointer;
}
 button:hover {
     /*box-shadow: 0 0 7px rgba(0, 0, 0, .13142857142857142), 0 8.4px 21px rgba(0, 0, 0, .16428571428571428);*/
     border: 2px solid #b3b3b3;
 }
 button.default {
    background: #ffffff;
}
 button.generate {
    background: #FEDC6A;
     border: 2px solid #FEDC6A;
}
button.generate:hover {
    border: 2px solid #ffd633;
    background: #ffd633;
}
 div.bidder_map:last-of-type {
     padding-bottom: 15px;
}

 hr {
    color: #E5E5E5;
     background-color: #E5E5E5;
     border: 0px none;
     height: 1px;
}
 .delete {
     font-size: 15px;
     line-height: 30px;
     color: #999999;
     cursor: pointer;
}
 .row {
     float: left;
     overflow:hidden;
}
 .units_row, .bidder_row{
     border: 1px solid #E5E5E5;
     padding: 15px;
}
 #result_textarea {
     width: 500px;
     border: 1px solid #E6EEF2;
     height: 302px;
     margin-top: 20px;
     margin-bottom: 100px;
}

/* .tooltip::after {
     background: #ffffff;
     box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
     color: #000;
     content: attr(data-tooltip);
     margin: 44px -116px;
     width: 14em;
     opacity: 0;
     font-size: 15px;
     padding: 0.5em;
     position: absolute;
     visibility: hidden;
     transition: all 0.5s ease-in-out;
     font-weight: 100;
     border-radius: 0px 10px 10px 10px;
}
 .tooltip:focus-within::after {
     opacity: 1;
     visibility: visible;
}*/

* {
    outline: none;
}

.CodeMirror.cm-s-default {
     border: 1px solid #FEDC6A;
}
.delete {
    position: absolute;
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url(close.png) no-repeat;
    background-size: 65%;
    margin: 8px;
}
/*.delete:hover {
    background-color: rgba(107,135,175,0.1);

}*/
.adUnitDelete {
    right: 1px;
}
.placementDelete {
    right: 10px;
}
.error {
    visibility: hidden;
    width: 120px;
    background-color: red;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    right: 10%;
    opacity: 0.9;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.typeError {
    visibility: hidden;
    width: 120px;
    background-color: red;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    right: 10%;
    opacity: 0.9;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    right: 10%;
    opacity: 0.9;

    /* Position the tooltip */
    position: absolute;
    z-index: 2;
}

/*#biddersMapInner > div > div {
    display: inline-block;
}*/

/*#biddersMapInner > div > div:hover .tooltiptext {
    visibility: visible;
}*/

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*#adUnitsInner > p > div > div.tooltip:hover .tooltiptext {
    visibility: visible;
}*/

.bidderName {
    width: 130px;
    margin-right: 10px;
}

.code {
    width: 200px;
    /*margin-right: 15px;*/
}

#adUnitsInner > p > div > div.tooltip:hover .tooltiptext {
    visibility: visible;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #d9d9d9;
    opacity: 1; /* Firefox */
}

.tooltip {
    display: inline-block;
}
.adUnitsTooltip {
    right: 20%;
}

#mainError {
    left: 30%;
    top: 27%;
    visibility: hidden;
    width: 120px;
    background-color: red;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    right: 10%;
    opacity: 0.9;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
#adUnitError, #timeoutError, #sizesError, #generateError, #sameContainer, #fillAdUnits {
  left: 30%;
  bottom: 30px;
  left: 30px;
  visibility: hidden;
  width: 350px;
  height: 30px;
  background-color: red;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  right: 10%;
  opacity: 0.9;
  position: fixed;
  z-index: 1;
  box-shadow: 0 0 0px rgba(0, 0, 0, .13142857142857142), 0 2.4px 11px rgba(0, 0, 0, .16428571428571428);
}


.sizesTooltip {
    right: -7%;

}

.sizes {
    margin-left: 15px;
}

/* #generateError {
    position: absolute;
    left: 60%;
} */

.placementId {
    margin-left: 15px;
}
.err {
    background: red;
  }

.bidder_row {
  box-shadow: 0 0 0px rgba(0, 0, 0, .13142857142857142), 0 2.4px 11px rgba(0, 0, 0, .16428571428571428);
}
#as {
  width: 20px;
margin: 10px;
font-size: 15px;
padding: 5px;
height: 19px;
}
